<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFlatPlanetExam.Data.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IFlatPlanetExam.Data.Config>
            <setting name="IFlatPlanet" serializeAs="String">
                <value>Data Source=.\\SQLEXPRESS;Initial Catalog=IFlatPlanet; Integrated Security=True</value>
            </setting>
        </IFlatPlanetExam.Data.Config>
    </applicationSettings>
  <appSettings>
    <add key="AppConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=IFlatPlanet; Integrated Security=True"/>
  </appSettings>
</configuration>